<div id="login-body">
    <div id="login-box">
        <img id="login-logo" src="@Url.Content("~/Content/Images/login_logo_img.png")" width="204" height="29" alt="Stepmap logo" title="Stepmap logo" />
        @using (Html.BeginForm("Login", "Account", new { }, FormMethod.Post, null))
        { 
            <div>
                <img src="@Url.Content("~/Content/Images/username_img.png")">
                <input type="text" id="usrname" name="username" value="username" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
            </div>
            <div>
                <img src="@Url.Content("~/Content/Images/pass_img.png")">
                <input type="password" id="pswd" name="password" value="password" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
            </div>
            <div>
                <input type="submit" value="log in" />
            </div>
        }
        <a id="signup" href="@Url.Action("SignUp", "Account")">register</a>
    </div>
</div>