<?xml version="1.0" encoding="utf-8" ?>
<!--<StepMapConfig
      NotificationAccount="test@gmail.com"
      GmailClientId="clientid"
      GmailApiClientSecret="secret"
      ClientBaseAddress="localhost"
  />-->

<StepMapConfig
      NotificationAccount="stepmap.daemon@gmail.com"
      GmailClientId="114882284440-unrvt3i9sbfakciqr3rv2a4cs476321d.apps.googleusercontent.com"
      GmailApiClientSecret="9k2HT_qw1qlMRrNjjcnNDdJ-"
      ClientBaseAddress="http://www.stepmap.xyz"
  />