<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="StepMap.Common" />
  <assembly name="StepMap.BusinessLogic" />
  <assembly name="StepMap.ServiceImpl" />
  <assembly name="StepMap.ServiceContracts" />
  <container>
    <register type="StepMap.Logger.Logging.ILogger" mapTo="StepMap.Logger.Logging.Log4Net.Logger">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.Common.RegexHelpers.IRegexHelper" mapTo="StepMap.Common.RegexHelpers.RegexHelper">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.BusinessLogic.IProjectManager" mapTo="StepMap.BusinessLogic.ProjectManager">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.BusinessLogic.IUserManager" mapTo="StepMap.BusinessLogic.UserManager">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.ServiceImpl.IOperationContextProvider" mapTo="StepMap.ServiceImpl.DefaultOperationContextProvider">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.BusinessLogic.INotificationManager" mapTo="StepMap.BusinessLogic.NotificationManager">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.BusinessLogic.IManagementManager" mapTo="StepMap.BusinessLogic.ManagementManager">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.Common.Configuration.IConfigurationManager`1[[StepMap.Common.IStepMapConfig]]" mapTo="StepMap.Common.Configuration.GenericWebConfigurationManager`1[[StepMap.Common.StepMapConfig]]">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

  </container>
</unity>
