<?xml version="1.0" encoding="utf-8"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
  <assembly name="StepMap.BusinessLogic" />
  <assembly name="StepMap.ServiceImpl" />
  <assembly name="StepMap.ServiceContracts" />
  <container>        
    <register type="StepMap.BusinessLogic.IProjectManager" mapTo="StepMap.BusinessLogic.ProjectManager">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.BusinessLogic.IUserManager" mapTo="StepMap.BusinessLogic.UserManager">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

    <register type="StepMap.ServiceImpl.IOperationContextProvider" mapTo="StepMap.ServiceImpl.DefaultOperationContextProvider">
      <lifetime type="ContainerControlledLifetimeManager" />
    </register>

  </container>
</unity>
